$grass: #72A05D;
$tea: #05A9A8;
$sea: #2B575D;
$sky: #A2EDF8;
$sun: #ffbb00;
$sunset: #FFA101;
$rust: #D9613B;
$fire: #d62518;
$light: #f8f9fa;
$smoke: #F1EBEB;
$dark: #343a40;

$theme-colors: (
	grass: $grass,
	tea: $tea,
	sea: $sea,
	sky: $sky,
	sun: $sun,
	sunset: $sunset,
	rust: $rust,
	fire: $fire,
    light: $light,
    smoke: $smoke,
    dark: $dark
);

$comfortaa: 'Comfortaa', cursive;
$nunito-sans: 'Nunito Sans', sans-serif;

.basic-font {
	font-family: $comfortaa;
	font-weight: normal;
}

.small-crd {
	width: 14rem;
}

.marker-btn {
	
	display: block;
	border: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 1;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');

